* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.login--page {
  height: 100vh;
  background: #474545;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn-center {
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  height: 75px;
  width: 100px;
  margin: 2px 2px;
  color: #fff;
  box-shadow: inset 2px 2px 10px #fff, inset -3px -3px 15px #000;
  font-size: 1.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.button:active {
  background-color: #FF7F11;
}

.red {
  background-color: red;
}

.blue {
  background-color: #0a6ba2;
}

.active {
  background-color: #FF7F11;
}

.login--welcome {
  font-size:  4rem;
  color: #fff;
}

.section-title {
  height: auto;
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #0f2673;
  margin-top: 5px;
}

.title-bar h1, .section-title h2 {
  font-size: 3rem;
}

.section {
  background-color: #edd29f;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

.modal-background {
  height: 700px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.modal-container {
  width: 375px;
  height: 500px;
  background-color: lightblue;
  border: #000 solid 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-input {
  width: 320px;
  height: 50px;
  font-size: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-input, .row-1, .row-2,.row-3, .row-4 {
  margin: auto 20px;
  display: flex;
  justify-content: space-around;
}

.order-container {
  height: 700px;
  width: 1300px;
  background: #856f6d;
  position: inherit;
  display: flex;
  overflow: hidden;
}

.order {
  width: 25%;
  background-color: #c7ab77;
}

.order-info {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-info h3 {
  font-size: 2rem;
}

.order-items {
  width: 100%;
  height: 60%;
  background-color: #edd29f;
  overflow:scroll;
  overflow-x:hidden;
}

.order-item {
  width: auto;
  height: auto;
  font-size: 2rem;
  background-color: #f2e4c9;
  border: 3px solid #8a7041;
  cursor: pointer;
}

.order-item p {
  font-size: 1.5rem;
}

.order-item li {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
}

.order-item--cost {
  text-align: right;
}

.order-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-to-be-paid, .order-total {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

.order-to-be-paid p, .order-total p {
  font-size: 1.4rem;
}

.page {
  height: auto;
  width: auto;
  margin: 0 auto;
}

.order-page {
  width: 800px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #edd29f;
}

.title-bar {
  height: auto;
  width: 100%;
  border-radius: 10px ;
  background-color: #0f2673;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title--title-btn {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.title--title-btn input {
  width: 65%;
  height: 50%;
  font-size: 2.5rem;
  text-align: center;
}



.order-task-list {
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.style {
  height: 100px;
  width: 100px;
  margin: 3px 0;
}

.order-task-container {
  margin: auto;
  height: 100px;
  width: 100px;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.order-task-link {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.customer-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.customer-info-form {
  height: 275px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-input {
  width: 100%;
  font-size: 2.5rem;
  display: block;
  text-align: left;
}

.customer-info-form input {
  height: 40px;
  width: 300px;
}

.order-method {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.pizzas-page {
  width: 850px;
  height: 100%;
  margin: auto;
  border-radius: 10px;
}

.toppings {
  margin-top: 5px;
  display: flex;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.container--payments {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payments--options {
  border: 1px solid green;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}